<%if (page == "about"){ %>
    <div class="container text-center">
        <h1 class="h1 p-3 mt-4 mb-4 fade-in">About Me</h1>
        <img id="profile-image" class="p-3 mt-4 mb-4 fade-in-from-left" src="images/archer.jpg" alt="profile image"><br>
        <h3 id="profile-description" class="p-3 h3 mt-4 mb-4 fade-in-from-right">
            My name is Samuel Yang. I am a student studying in National Taiwan University.
            I major in Computer Science, and this is my third year studying in college.
            So far, I really enjoy learning about programming. I also study 3D art on my own. 
            I make video games, 3D models, digital and sometimes real sculptures, and websites such as this one. 
            I love what I do, and I am determined to continue my passion in those fields.
        </h3>
        <button class="btn btn-lg btn-outline-info link mt-4 mb-4 fade-in" href="https://sam5210.github.io/CV_Updated_5/">
            <a class="link" href="https://sam5210.github.io/CV_Updated_5/" alt="my personal webpage">
                Click to learn more about me
            </a>
        </button>
        
    </div>
<%}%>