<!-- <div id="timeline"></div> -->
<div class="waves">
    <div class="wave-motion-x">
        <div class="wave-particle"></div>
    </div>
    <div class="wave-motion-x">
        <div class="wave-particle"></div>
    </div>
    <div class="wave-motion-x">
        <div class="wave-particle"></div>
    </div>
    <div class="wave-motion-x">
        <div class="wave-particle"></div>
    </div>
    <div class="wave-motion-x">
        <div class="wave-particle"></div>
    </div>
</div>
<div class="blog-content">
    <div class="container align-hor-left">
        <div class="row">
            <div class="col-lg">
                <h4 class="h4 text-responsive">It's all going to be okay</h3>
                <p class="text-truncate trunc-width">
                    Meditation really is vital, feeling really grateful for everything.
                </p>
            </div>
            <div class="col-lg">
                <div class="row align-ver-center">
                    <div class="col-lg-8">
                        <img class="img-thumbnail" src="images/Meditation-639x426.jpg" alt="meditation img" >
                    <!-- <hr style="display: inline-block; width: 2rem"> -->
                    </div>
                    <div class="col-lg-4">
                        <div class="circle"></div>
                        <div class="branch"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>