<% if (page == "composeSuccess"){ %>
    <div class="container compose-success-content p-4 mt-4 mb-4 text-center">
        <h1 class="h1 mb-4"> Successfully saved your entry</h1>
        <h4 class="h3 mt-4 mb-4" >
            We have successfully updated the blog with the entry
            that you have submitted.<br><br><br>
        </h4>
        <h1 class="h1">Thank you !</h1>
        
    </div>
<% } %>