<% if(page == "compose"){ %>
<div class="container content">
    <h1 class="h1">Compose New Entry</h1>
    <form class="mb-4" action="/" method="post" enctype="multipart/form-data">
        <div class="form-group mb-4">
            <label for="title">Title of entry</label><br>
            <input type="text" class="form-control" name="title" placeholder="Enter New Title" aria-describedby="titleOfEntry" autocomplete="off" autofocus>
        </div>
        <div class="form-group mb-4">
            <label for="content">Content of entry</label>
            <textarea type="text" rows="15" class="form-control" name="content" placeholder="Enter New Content" aria-describedby="contentOfEntry" autocomplete="off"></textarea>
        </div>
        <div class="form-group mt-4 mx-auto text-center">
            <label for="entry-icon" class="mb-4" style="display: block;">
                <span class="btn btn-md btn-light">Upload and crop image for this entry's icon</span>
            </label>
            <input id="entry-icon" name="entryIcon" value="undefined" accept=".jpeg, .jpg, .png" type="file"/>
            <input type="hidden" id="entry-icon-src" name="entryIconSrc" value="">
            <img class="crop-preview hide mt-4 mb-4" src="" alt="entry icon preview">
            <h3 class="entry-result-message h3 hide mt-4 mb-4">Result of cropped image: </h3>
            <img class="crop-result hide mt-4 mb-4" src="" alt="entry icon">
            <div class="d-grid p-3">
                <button type="button" id="save-entry-icon-button" class="btn btn-md btn-outline-light mt-4 hide">Save entry icon</button>
            </div>
        </div>
        <%for(let index = 0; index < maxImageCount; index++){%>
            <div class="form-group mb-4 mx-auto text-center">
                <label for="img">
                <span class="btn btn-md btn-light">Upload image for this entry</span>
                </label>
                <input type="file" id="img" name="img" accept=".jpg, .png">
            </div>
        <%}%>
        <div class="d-grid p-3">
            <button type="submit" id="entry-submit-button" class="btn btn-lg btn-outline-light">Submit</button>
        </div>
    </form>
</div>
<%}%>