<%- include("documentHead") -%>
<div id="timeline"></div>
<%- include("navbar") -%>
<div class="blog-content">
    <div class="container alignment-left">
        <div class="row">
                <div class="col-lg">
                    <h4 class="h4 text-responsive">It's all going to be okay</h3>
                    <p class="text-truncate trunc-width">Meditation really is vital, feeling really grateful for everything.</p>
                </div>
                <div class="col-lg">
                    <img class="img-thumbnail" src="images/Meditation-639x426.jpg" alt="meditation img" >
                    <!-- <hr style="display: inline-block; width: 2rem"> -->

                    <div class="geeks"></div>
                </div>
        </div>
    </div> 
</div>

	



<%- include("documentTail") -%>