<nav class="navbar navbar-expand-sm navbar-light bg-light fw-lighter mb-4">
    <div class="container-fluid">
        <a class="navbar-brand text-darkgrey mb-0 ms-4 fs-3 bold" href="/">Samuel's Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="navbar-item mb-0 me-3 text-darkgrey"> 
                    <a class="nav-link active" aria-current="page" href="/?page=home">
                        Home
                    </a>
                </li>
                <li class="navbar-item mb-0 me-3 text-darkgrey">
                    <a class="nav-link" href="#footer">Contact</a>
                </li>
                <li class="navbar-item mb-0 me-3 text-darkgrey">
                    <a class="nav-link" href="/?page=about">
                        About Me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>