%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%margin-center {
  margin-left: auto;
  margin-right: auto;
}
$timeline-left-offset: 0.5vw;
%absolute-center {
  position: absolute;
  left: $timeline-left-offset;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.link {
  color: white;
  &:hover{
    color: white;
  }
}
.align-hor-left,
.align-hor-right {
  width: 50vw;
}
.align-hor-left {
  margin-left: 0;
  margin-right: auto;
}
.align-hor-right {
  margin-right: 0;
  margin-left: auto;
}
.align-ver-center {
  align-items: center;
}
.background {
  background-color: white;
  background-image: -webkit-linear-gradient(
    to left,
    rgb(10, 10, 10),
    rgb(10, 10, 10) 35%,
    rgb(60, 60, 60) 40%,
    rgb(10, 10, 10) 45%,
    rgb(10, 10, 10) 55%,
    rgb(60, 60, 60) 60%,
    rgb(10, 10, 10) 65%,
    rgb(10, 10, 10) 100%
  );
  background-image: -moz-linear-gradient(
    to left,
    rgb(10, 10, 10),
    rgb(10, 10, 10) 35%,
    rgb(60, 60, 60) 40%,
    rgb(10, 10, 10) 45%,
    rgb(10, 10, 10) 55%,
    rgb(60, 60, 60) 60%,
    rgb(10, 10, 10) 65%,
    rgb(10, 10, 10) 100%
  );
  background-image: -o-linear-gradient(
    to left,
    rgb(10, 10, 10),
    rgb(10, 10, 10) 35%,
    rgb(60, 60, 60) 40%,
    rgb(10, 10, 10) 45%,
    rgb(10, 10, 10) 55%,
    rgb(60, 60, 60) 60%,
    rgb(10, 10, 10) 65%,
    rgb(10, 10, 10) 100%
  );
  background-image: linear-gradient(
    to left,
    rgb(10, 10, 10),
    rgb(10, 10, 10) 35%,
    rgb(60, 60, 60) 40%,
    rgb(10, 10, 10) 45%,
    rgb(10, 10, 10) 55%,
    rgb(60, 60, 60) 60%,
    rgb(10, 10, 10) 65%,
    rgb(10, 10, 10) 100%
  );
  min-height: 80vh;
}
.blog-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
html,
body {
  height: 100%;
  margin: 0;
}
.bold {
  font-weight: 400;
}
$branch-width: 20vw;
$circle-width: 12px;
.branch {
  display: inline-flex;
  width: $branch-width;
  height: 0.3rem;
  background: aqua;
  position: relative;
  top: 50%;
  z-index: -1;
  border-radius: 15%;
}
.branch-slide {
  display: inline-flex;
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 0.3rem;
  background: rgb(10, 10, 10);
  z-index: +1;
}
.circle {
  position: relative;
  top: 2px;
  right: 0;
  display: inline-flex;
  width: $circle-width;
  height: 12px;
  @extend %circular;
  background: transparent;
  cursor: none;
}
%circular {
  border-radius: 100%;
}
.circle-center {
  position: absolute;
  width: 16px;
  height: 16px;
  @extend %circular;
  @extend %absolute-center;
  background: transparent;
  cursor: none;
}
.crop-preview{
  display: block;
  max-width: 100%;
}
.crop-result{
  max-width: 75%;
}
.blog-content,
.entry-page-content,
.compose-success-content {
  min-height: 60vh;
}
.about-content, .entry-page-content, .compose-success-content{
  margin-top: 5rem;
  border-style: solid;
  border-color: aqua;
  border-width: 0.4rem;
  border-radius: 1rem;
}
.entry-content{
  max-height: 4.5rem;
  overflow: hidden;
}
.entry-page-content, .about-content, .compose-success-content{
  width: 85%;
}
.entry-icon{
  position: relative;
  width: 10vw;
  opacity: 0;
}
.align-hor-right .entry-icon{
  margin-top: 2.5rem;
  left: 14vw;
}
.entry-image{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.entry-icon-styles, .entry-image-styles{
  border-style: solid;
  border-width: 0.4rem;
  border-color: aqua;
  border-radius: 1rem;
}
.entry-text {
  display: inline-block;
  opacity: 0;
  text-align: justify-all;
}
.align-hor-left .entry-text{
  text-align: start;
}
.align-hor-right .entry-text{
  text-align: end;
}
.entry-text, .entry-icon{
  position: relative;
  z-index: +100;
}
$content-trunc-width: 25rem;
.fit {
  width: fit-content;
}
.fade-in{
  opacity: 0;
  animation: fade-in 0.5s 0.5s ease-in-out 1 forwards;
}
.fade-in-from-left{
  opacity: 0;
  position: relative;
  animation: fade-in-from-left 0.5s 0.5s ease-in-out 1 forwards;
}
.fade-in-from-right{
  opacity: 0;
  position: relative;
  animation: fade-in-from-right 0.5s 0.5s ease-in-out 1 forwards;
}
footer {
  position: relative;
  top: 1.3rem;
  z-index: +1000;
}
.h4 {
  font-size: calc(0.5rem + 2vw);
}
.hide{
  display: none;
}
.img-thumbnail {
  max-width: 100%;
  position: relative;
  z-index: +1;
}
input[type="file"]{
  display: none;
}
#mail{
  width: 1.5rem;
  height: 1.5rem;
}
.navbar {
  position: relative;
  z-index: +1000;
}
.navbar-light .text-darkgrey {
  color: darkgrey;
}
.align-hor-left .opacity-control, .align-hor-right .opacity-control{
  position: absolute;
}
.align-hor-left .opacity-control{
  left: calc(50vw - (#{$branch-width} + #{$circle-width} + 0.5vw));
}
.align-hor-right .opacity-control{
  left: 50vw;
}
#profile-description {
  line-height: 1.5;
}
#profile-image {
  width: 50%;
  border-style: solid;
  border-color: aqua;
  border-width: 0.3rem;
  border-radius: 100%;
}
.top {
  top: 5.7rem;
}
.bottom {
  bottom: 2.8rem;
}
textarea{
  white-space: pre-wrap;
}
.text-end {
  margin-right: 0;
}
.text-Raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.text-white {
  color: white;
}
.trunc-width {
  max-width: #{$content-trunc-width};
}
$timeline-width: 0.1rem;
#timeline {
  display: inline-block;
  width: $timeline-width;
  background-color: aqua;
  box-shadow: 0 0 0.1rem 0.2rem aqua;
  @extend %absolute-center;
  z-index: +1000;
  border-radius: 0.5%;
}
#timeline-slide {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: $timeline-width;
  background: rgb(10, 10, 10);
  box-shadow: 0 0 0.2rem 0.35rem rgb(10, 10, 10);
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
$fade-in-distance: 30vw;
@keyframes fade-in-from-left{
  0%{
    opacity: 0;
    left: $fade-in-distance;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@keyframes fade-in-from-right{
  0%{
    opacity: 0;
    right: $fade-in-distance;
  }
  100%{
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 991px) {
  .align-hor-left,
  .align-hor-right {
    width: 80vw;
  }
  .align-hor-left .entry-icon{
    margin-top: 1.5rem;
  }
  .align-hor-left .entry-text{
    left: 25%;
  }
  .align-hor-right .entry-text{
    right: 25%;
  }
  .entry-text{
    opacity: 0;
    background-color: black;
    padding: 5%;
    color: white;
    border-style: solid;
    border-color: aqua;
    border-width: 0.4rem;
    border-radius: 1rem;
  }
  $entry-icon-width-991px: 50%;
  .align-hor-left .entry-icon, .align-hor-right .entry-icon{
    width: $entry-icon-width-991px;
  }
  .align-hor-right .entry-icon{
    left: calc(100% - #{$entry-icon-width-991px});
  }
  .opacity-control {
    opacity: 0;
  }
  #profile-image{
    width: 80%;
  }
  #timeline{
    z-index: 2;
  }
}
@media (max-width: 562px) {
  .align-hor-left,
  .align-hor-right {
    margin-left: auto;
    margin-right: auto;
  }
  .background {
    background-color: black;
    background-image: none;
  }
  .branch,
  .branch-slide {
    background-color: transparent;
    width: 0;
  }
  .entry-image{
    max-width: 100%;
  }
  #profile-description{
    font-size: 1.2rem;
  }
  #timeline {
    border: none;
  }
  .align-hor-left .entry-icon, .align-hor-right .entry-icon{
    margin-top: 0.2rem;
    width: 100%;
    left: 0;
  }
  .align-hor-left .entry-text, .align-hor-right .entry-text{
    text-align: center;
  }
  .align-hor-right .h3, .align-hor-right .entry-content{
    position: static;
  }
  .align-hor-right .entry-content{
    left: 0;
  }
  
}