.circle-center, #timeline {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: white;
}

.link:hover {
  color: white;
}

.align-hor-left,
.align-hor-right {
  width: 50vw;
}

.align-hor-left {
  margin-left: 0;
  margin-right: 50vw;
}

.align-hor-right {
  margin-right: 0;
  margin-left: 50vw;
}

.align-ver-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background {
  background-color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(#0a0a0a), color-stop(35%, #0a0a0a), color-stop(40%, #3c3c3c), color-stop(45%, #0a0a0a), color-stop(55%, #0a0a0a), color-stop(60%, #3c3c3c), color-stop(65%, #0a0a0a), to(#0a0a0a));
  background-image: linear-gradient(to left, #0a0a0a, #0a0a0a 35%, #3c3c3c 40%, #0a0a0a 45%, #0a0a0a 55%, #3c3c3c 60%, #0a0a0a 65%, #0a0a0a 100%);
  min-height: 80vh;
}

.blog-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bold {
  font-weight: 400;
}

.branch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 15vw;
  height: 0.3rem;
  background: aqua;
  position: relative;
  top: 50%;
  z-index: -1;
  border-radius: 15%;
}

.branch-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 0.3rem;
  background: #0a0a0a;
  z-index: +1;
}

.circle {
  position: relative;
  top: 2px;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12px;
  height: 12px;
  background: transparent;
  cursor: none;
}

.circle, .circle-center {
  border-radius: 100%;
}

.circle-center {
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background: transparent;
  cursor: none;
}

.blog-content,
.content {
  min-height: 60%;
}

.entry-content {
  max-height: 4.5rem;
  overflow: hidden;
}

.entry-text {
  opacity: 0;
  position: relative;
}

.fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 0.5s 0.5s ease-in-out 1 forwards;
          animation: fade-in 0.5s 0.5s ease-in-out 1 forwards;
}

.fade-in-from-left {
  opacity: 0;
  position: relative;
  -webkit-animation: fade-in-from-left 0.5s 0.5s ease-in-out 1 forwards;
          animation: fade-in-from-left 0.5s 0.5s ease-in-out 1 forwards;
}

.fade-in-from-right {
  opacity: 0;
  position: relative;
  -webkit-animation: fade-in-from-right 0.5s 0.5s ease-in-out 1 forwards;
          animation: fade-in-from-right 0.5s 0.5s ease-in-out 1 forwards;
}

footer {
  position: relative;
  top: 1.3rem;
  z-index: +1000;
}

.h4 {
  font-size: calc(0.5rem + 2vw);
}

.img-thumbnail {
  max-width: 100%;
  position: relative;
  z-index: +1;
}

#mail {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar {
  position: relative;
  z-index: +1000;
}

.navbar-light .text-darkgrey {
  color: darkgrey;
}

#profile-description {
  line-height: 1.5;
}

#profile-image {
  width: 30%;
  height: 30%;
  border-radius: 100%;
}

.top {
  top: 5.7rem;
}

.bottom {
  bottom: 2.8rem;
}

textarea {
  white-space: pre-wrap;
}

.text-end {
  margin-right: 0;
}

.text-Raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.text-white {
  color: white;
}

.trunc-width {
  max-width: 12rem;
}

#timeline {
  display: inline-block;
  width: 0.1rem;
  background-color: aqua;
  -webkit-box-shadow: 0 0 0.1rem 0.2rem aqua;
          box-shadow: 0 0 0.1rem 0.2rem aqua;
  z-index: +1000;
  border-radius: 0.5%;
}

#timeline-slide {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.1rem;
  background: #0a0a0a;
  -webkit-box-shadow: 0 0 0.2rem 0.35rem #0a0a0a;
          box-shadow: 0 0 0.2rem 0.35rem #0a0a0a;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-from-left {
  0% {
    opacity: 0;
    left: 30vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    left: 30vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes fade-in-from-right {
  0% {
    opacity: 0;
    right: 30vw;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    right: 30vw;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 991px) {
  .opacity-control {
    opacity: 0;
  }
  .align-hor-left .entry-text {
    left: 5vw;
  }
  .align-hor-right .entry-text {
    left: 20vw;
  }
  .entry-text {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .background {
    background-color: black;
    background-image: none;
  }
  #timeline {
    border: none;
  }
  .branch,
  .branch-slide {
    background-color: transparent;
    width: 0;
  }
  .align-hor-left,
  .align-hor-right {
    margin-left: 50vw;
    margin-right: 50vw;
  }
  .align-hor-left .entry-text {
    left: 0;
  }
  .align-hor-right .entry-text {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */