.circle-center, #timeline {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.circle-center, .circle {
  border-radius: 100%;
}

.circle-center {
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 16px;
  background: transparent;
  cursor: none;
}

.align-hor-left, .align-hor-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.align-hor-left {
  margin-left: 0;
  margin-right: 50%;
}

.align-hor-right {
  margin-right: 0;
  margin-left: 50%;
}

.align-ver-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background {
  background-color: white;
  background-image: -webkit-gradient(linear, right top, left top, from(#0a0a0a), color-stop(15%, #0a0a0a), color-stop(25%, #646464), color-stop(35%, #0a0a0a), color-stop(50%, #0a0a0a), color-stop(65%, #0a0a0a), color-stop(75%, #646464), color-stop(85%, #0a0a0a), to(#0a0a0a));
  background-image: linear-gradient(to left, #0a0a0a, #0a0a0a 15%, #646464 25%, #0a0a0a 35%, #0a0a0a 50%, #0a0a0a 65%, #646464 75%, #0a0a0a 85%, #0a0a0a 100%);
  min-height: 30rem;
}

.blog-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 0;
}

.branch {
  display: inline-block;
  /* width: 400px; */
  width: 65%;
  height: 0.3rem;
  background: aqua;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  position: relative;
  bottom: 3px;
  left: 3%;
  z-index: +1;
  border-radius: 15%;
  /* transform: translate(-50%, -50%); */
}

.branch::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 0.3rem;
  background: #0a0a0a;
  -webkit-animation: elongate 1s linear 1 1.2s forwards;
          animation: elongate 1s linear 1 1.2s forwards;
  z-index: +1;
}

.circle {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background: transparent;
  /* box-shadow: 60px -60px 0 2px @color, -60px -60px 0 2px @color, -60px 60px 0 2px @color, 60px 60px 0 2px @color, 0 0 0 2px green; */
  cursor: none;
}

.fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.h4 {
  font-size: calc(0.5rem + 2vw);
}

.img-thumbnail {
  max-width: 100%;
  position: relative;
  z-index: +1;
}

.navbar {
  position: relative;
  z-index: +1000;
}

.navbar-light .text-darkgrey {
  color: darkgrey;
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
}

.text-white {
  color: white;
}

.trunc-width {
  max-width: 12rem;
}

#timeline {
  width: 0.1rem;
  background-color: aqua;
  -webkit-box-shadow: 0 0 0.2rem 0.3rem aqua;
          box-shadow: 0 0 0.2rem 0.3rem aqua;
  height: 85vh;
  top: 16%;
  z-index: +1000;
  border-radius: 0.5%;
}

@-webkit-keyframes elongate {
  0% {
    left: 0;
    -webkit-box-shadow: 0 0 0 0 #0a0a0a;
            box-shadow: 0 0 0 0 #0a0a0a;
  }
  100% {
    left: 100%;
  }
}

@keyframes elongate {
  0% {
    left: 0;
    -webkit-box-shadow: 0 0 0 0 #0a0a0a;
            box-shadow: 0 0 0 0 #0a0a0a;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 576px) {
  .background {
    background-color: black;
    background-image: none;
  }
  #timeline {
    border: none;
  }
  .branch, .branch::before {
    background-color: transparent;
    width: 0;
  }
}
/*# sourceMappingURL=style.css.map */