.alignment-left, .alignment-right{
    width: fit-content;
}
.alignment-left{
    margin-left: 0;
    margin-right: 50%;
}
.alignment-right{
    margin-right: 0;
    margin-left: 50%;
}
.background {
    background-color: white;
    background-image: -webkit-linear-gradient(to left, rgb(10, 10, 10), rgb(40, 40, 40) 40%, rgb(100, 100, 100) 50%, rgb(40, 40, 40) 60%, rgb(10, 10, 10) 100%);
    background-image:-moz-linear-gradient(to left, rgb(10, 10, 10), rgb(40, 40, 40) 40%, rgb(100, 100, 100) 50%, rgb(40, 40, 40) 60%, rgb(10, 10, 10) 100%);
    background-image:-o-linear-gradient(to left, rgb(10, 10, 10), rgb(40, 40, 40) 40%, rgb(100, 100, 100) 50%, rgb(40, 40, 40) 60%, rgb(10, 10, 10) 100%);
    background-image: linear-gradient(to left, rgb(10, 10, 10), rgb(40, 40, 40) 40%, rgb(100, 100, 100) 50%, rgb(40, 40, 40) 60%, rgb(10, 10, 10) 100%);
    min-height: 30rem;
}
.blog-content{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 0;
}
.h4{
  font-size:  calc(0.5rem + 2vw)
}
.img-thumbnail{
    max-width: 75%;
}

.text-white{
    color: white;
}
.trunc-width{
    max-width: 12rem;
}
.navbar-light .text-darkgrey{
    color: darkgrey;
}
#timeline {
    position: absolute;
    border-left-style: dotted;
    border-left-width: 0.3rem;
    border-left-color: white;
    height: 80%;
    left: 50%;
    top: 15%;
}
.geeks {
    display: inline-block;
    /* width: 400px; */
    width: 16%;
    height: 0.3rem;
    background: #fff;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    position: relative;
    top: 0;
    left: 4%;
    z-index: -1;
    /* transform: translate(-50%, -50%); */
}

.geeks::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0%;
    right: 10%;
    width: 100%;
    height: 0.3rem;
    background: green;
    /* animation: elongate 5s linear infinite; */
    z-index: -1;
}

@keyframes elongate {
    0% {
        right: 10%;
    }
    100% {
        right: 100%;
    }
}

.wrap{
margin: 100px auto;
width: 130px;
}

@color: blue;

.circle{
  margin: auto;
  margin-top: 5%;
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #E94E3D;
  box-shadow: 60px -60px 0 2px @color, -60px -60px 0 2px @color, -60px 60px 0 2px @color, 60px 60px 0 2px @color, 0 0 0 2px green;

  &:hover{
    animation: border 3s ease 1 forwards;
    cursor: none;
  }
}


@keyframes border{
  0% {
    box-shadow: 60px -60px 0 2px @color, -60px -60px 0 2px @color, -60px 60px 0 2px @color, 60px 60px 0 2px @color, 0 0 0 2px yellow;
  }
  25% {
    box-shadow: 0 -125px 0 2px @color, -60px -60px 0 2px @color, -60px 60px 0 2px @color, 60px 60px 0 2px @color, 0 0 0 2px yellow;
  }
  50% {
    box-shadow: 0 -125px 0 2px @color, -125px 0px 0 2px @color, -60px 60px 0 2px @color, 60px 60px 0 2px @color, 0 0 0 2px yellow;
  }
  75% {
    box-shadow: 0 -125px 0 2px @color, -125px 0px 0 2px @color, 0px 125px 0 2px @color, 60px 60px 0 2px @color, 0 0 0 2px violet;
  }
  100% {
    box-shadow: 0 -125px 0 2px @color, -125px 0px 0 2px @color, 0px 125px 0 2px @color, 120px 40px 0 2px @color, 0 0 0 2px violet;
  } 
}

@media (max-width: 576px){
  .background{
    background-color: black;
    background-image: none;
  }
  #timeline{
    border: none;
  }
  .geeks, .geeks::before{
    background-color: transparent;
    width: 0;
  }
}