%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
%margin-center{
  margin-left: auto;
  margin-right: auto;
}
%absolute-center{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
%circular{
  border-radius: 100%;
}
.circle-center{
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 16px;
  @extend %circular;
  @extend %absolute-center;
  background: transparent;
  cursor: none;
}
.align-hor-left, .align-hor-right{
    width: fit-content;
}
.align-hor-left{
    margin-left: 0;
    margin-right: 50%;
}
.align-hor-right{
    margin-right: 0;
    margin-left: 50%;
}
.align-ver-center{
  align-items: center;
}
.background {
    background-color: white;
    background-image: -webkit-linear-gradient(to left, rgb(10, 10, 10), rgb(10, 10, 10) 15%, rgb(100, 100, 100) 25%, rgb(10, 10, 10) 35%, rgb(10, 10, 10) 50%, rgb(10, 10, 10) 65%, rgb(100, 100, 100) 75%, rgb(10, 10, 10) 85%, rgb(10, 10, 10) 100%);
    background-image:-moz-linear-gradient(to left, rgb(10, 10, 10), rgb(10, 10, 10) 15%, rgb(100, 100, 100) 25%, rgb(10, 10, 10) 35%, rgb(10, 10, 10) 50%, rgb(10, 10, 10) 65%, rgb(100, 100, 100) 75%, rgb(10, 10, 10) 85%, rgb(10, 10, 10) 100%);
    background-image:-o-linear-gradient(to left, rgb(10, 10, 10), rgb(10, 10, 10) 15%, rgb(100, 100, 100) 25%, rgb(10, 10, 10) 35%, rgb(10, 10, 10) 50%, rgb(10, 10, 10) 65%, rgb(100, 100, 100) 75%, rgb(10, 10, 10) 85%, rgb(10, 10, 10) 100%);
    background-image: linear-gradient(to left, rgb(10, 10, 10), rgb(10, 10, 10) 15%, rgb(100, 100, 100) 25%, rgb(10, 10, 10) 35%, rgb(10, 10, 10) 50%, rgb(10, 10, 10) 65%, rgb(100, 100, 100) 75%, rgb(10, 10, 10) 85%, rgb(10, 10, 10) 100%);
    min-height: 30rem;
}
.blog-content{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 0;
}
.branch {
  display: inline-block;
  width: 65%;
  height: 0.3rem;
  background: aqua;
  position: relative;
  bottom: 3px;
  left: 3%;
  z-index: -1;
  border-radius: 15%;
}
.branch-slide{
  display: inline-block;
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 0.3rem;
  background: rgb(10, 10, 10);
  // animation: slideOut-horizontal 1s linear 1 1.2s forwards; 
  z-index: +1;
}
.circle{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  @extend %circular;
  background: transparent;
  cursor: none;
}
.fit{
  width: fit-content;
}
.h4{
  font-size:  calc(0.5rem + 2vw);
}
.img-thumbnail{
    max-width: 100%;
    position: relative;
    z-index: +1;
}
.navbar{
    position: relative;
    z-index: +1000;
}
.navbar-light .text-darkgrey{
    color: darkgrey;
}
.row > *{
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
}
.text-white{
    color: white;
}
.trunc-width{
    max-width: 12rem;
}
$timeline-length: 85vh;
$timeline-width: 0.1rem;
#timeline{
  display: inline-block;
  width: $timeline-width;
  background-color: aqua;
  box-shadow: 0 0 0.1rem 0.2rem aqua;
  height: $timeline-length;
  @extend %absolute-center;
  top: 16%;
  z-index: +1000;
  border-radius: 0.5%;
}
#timeline-slide{
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: $timeline-width;
  height: $timeline-length;
  background: rgb(10, 10, 10);
  // animation: slideOut-vertical 4s linear 1 1.2s forwards; 
  box-shadow: 0 0 0.2rem 0.3rem rgb(10, 10, 10);
}
// @keyframes slideOut-horizontal {
//     0% {
//         left: 0;
//         box-shadow: 0 0 0 0 rgb(10, 10, 10);
//     }
//     100% {
//         left: 100%;
//     }
// }
// @keyframes slideOut-vertical{
//   0%{
//     top: 0;
//   }
//   100%{
//     top: 100%;
//   }
// }
@media (max-width: 576px){
  .background{
    background-color: black;
    background-image: none;
  }
  #timeline{
    border: none;
  }
  .branch, .branch-slide{
    background-color: transparent;
    width: 0;
  }
}